doctype html
html
    head(lang='ru')
        meta(charset='UTF-8')
        block seo
            meta(name='description', content='Готовим и доставляем кальяны по Зеленограду.')
            meta(name='keywords', content='Кальян на дом в Зеленоград')
        meta(
            name='viewport',
            content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
        )
        meta(
            http-equiv='X-UA-Compatible',
            content='ie=edge'
        )
        link(
            rel='apple-touch-icon',
            sizes='144x144',
            href=require('../../assets/img/favicon/apple-touch-icon.png')
        )
        link(
            rel='icon',
            type='image/png',
            sizes='32x32',
            href=require('../../assets/img/favicon/favicon-32x32.png')
        )
        link(
            rel='icon',
            type='image/png',
            sizes='16x16',
            href=require('../../assets/img/favicon/favicon-16x16.png')
        )
        link(
            rel='mask-icon',
            href='/safari-pinned-tab.svg',
            color='#000000'
        )
        link(
            rel='shortcut icon',
            href=require('../../assets/img/favicon/favicon.ico')
        )
        block title
            title Доставка кальянов на дом по Зеленограду от ZelSmoke
    body
        block content


